ul {
    list-style-type: none;
    padding: 0;
    margin: 0;  
}

li {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.botonEnviar {
    display: none;
}
.totalTarea{
    padding-left: 20px;
    padding-top: 16px;
}
.numeroLength {
    padding-right: 20px;
    padding-top: 16px;
}

.borrador {
    padding-right: 20px;
    font-size: 20px;
}
.toDoList {
    font-color: grey;
}